# Ignore configuration files that may contain sensitive information.
#src/web/sites/*/settings.php

# Ignore paths that contain generated content.
src/web/cache/
src/web/files/
src/web/sites/*/files
src/web/sites/*/private

# Ignore default text files
src/web/CHANGELOG.txt
src/web/COPYRIGHT.txt
src/web/INSTALL*.txt
src/web/LICENSE.txt
src/web/MAINTAINERS.txt
src/web/UPGRADE.txt
src/web/README.txt
src/web/sites/all/README.txt
src/web/sites/all/modules/README.txt
src/web/sites/all/themes/README.txt
src/web/sites/default/settings.php

# Ignore everything but the "sites" folder ( for non core developer )
#src/web/web.config
#src/web/authorize.php
#src/web/cron.php
#src/web/index.php
##src/web/install.php
#src/web/update.php
#src/web/xmlrpc.php
##/includes
#/misc
#/modules
#/profiles
#/scripts
#/themes
